.senior-renew-container
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  gap: 0px;
  width: 100%;
  height: 100%;
  background-color: #f8fafc;
}
.senior-renew-container-left
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 25px 50px 50px;
  gap: 18px;
  padding: 18px;
  width:50%;
  height: 100vh;
  border: 5px solid black;
}
.senior-renew-container-right
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 50px 50px 50px 25px;
  gap: 18px;
  padding: 18px;
  width:50%;
  height: 100vh;
  border: 5px solid black;
}
.senior-renew-container-left-label-text
{
  display: flex-box;
  background-color: #000000;

}